<!doctype html>
<html>
  <head>
    <title>利用人工智慧提升圖片解析度</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body background="../../static/images/background.jpg">
    <div class="header">
      <nav>
        <p style="font-weight:bold; font-size: 30px;">利用人工智慧提升解析度</p>
        <ul class="nav-links" style="font-weight:bold; font-size:18px">
          <li><a href="http://127.0.0.1:8000">Home</a></li>
          <li><a href="http://127.0.0.1:8000/increase_resolution">提升解析度</a></li>
          <li><a href="http://127.0.0.1:8000/reference">參考文獻</a></li>
        </ul>
      </nav>
      <br><br>
      <div class="zi_box_1"><span class="zi_box_2">SRGAN</span>
        <a href="https://github.com/tensorlayer/srgan" style="font-weight:bold;">SRGAN code</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://arxiv.org/abs/1609.04802" style="font-weight:bold;">SRGAN paper</a>
      </div>
      <br>
      <div class="zi_box_3"><span class="zi_box_4">Website design</span>
        <a href="https://www.w3schools.com/cssref/index.php" style="font-weight:bold;">W3schools</a></td>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://pixabay.com/videos/tunnel-corridor-lights-abstract-79765/" style="font-weight:bold;">pixabay</a>
      </div>
      <br>
      <div class="zi_box_1"><span class="zi_box_2">ESRGAN</span>
        <a href="https://github.com/xinntao/ESRGAN" style="font-weight:bold;">ESRGAN code</a></td>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://arxiv.org/abs/1809.00219" style="font-weight:bold;">ESRGAN paper</a>
      </div>
      
      <div class="footer" style="font-weight:bold; font-size:18px">
        <p>指導教授 : 葉慶隆 / 副教授 &ensp; 團隊: I4B / 黃仰辰、林峰正、張耀文</p>
        <table>
        <td><a href="https://github.com/ZhangYaowen-0107/Ours_Independent-study"><img src="../static/images/github.png" class="github-logo"></a></td>
        <td><p>&ensp;⇚  程式碼</p></td>
        </table>
      </div>
  </body>
</html>