<!doctype html>
<html>
  <head>
    <title>利用人工智慧提升圖片解析度</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <video autoplay loop class="back-video" muted plays-inline>
        <source src="../static/images/Tunnel.mp4" type="video/mp4">
      </video>

      <nav>
        <img src="../static/images/logo.png" class="logo">
        <ul class="nav-links">
          <li><a href="http://127.0.0.1:8000">Home</a></li>
          <li><a href="http://127.0.0.1:8000/increase_resolution">提升解析度</a></li>
          <li><a href="http://127.0.0.1:8000/reference">參考文獻</a></li>
        </ul>
      </nav>
      <div class="content" style="text-align: left; font-weight:bold;">
          <table>
            <tr><td><h2>SRGAN</h2></td></tr>
            <tr>
                <td><a href="https://github.com/tensorlayer/srgan">SRGAN code</a></td>
                <td><a href="https://arxiv.org/abs/1609.04802">SRGAN paper</a></td>
            </tr>
            <tr><td><br><h2>Website design</h2></td></tr>
            <tr>
                <tr><td><h3>CSS</h3></td></tr>
                <td><a href="https://www.w3schools.com/cssref/index.php">W3schools</a></td>
                <td><a href="https://www.youtube.com/watch?v=G6SwH0lFxM8">YouTube tutorial</a></td>
            </tr>
            <tr>
                <tr><td><br><h3>JS</h3></td></tr>
                <tr>
                    <td><a href="https://www.w3schools.com/jsref/default.asp">W3schools</a></td>
                </tr>
                <tr><td><br><h3>Background</h3></td></tr>
                <tr>
                  <td><a href="https://pixabay.com/videos/tunnel-corridor-lights-abstract-79765/">pixabay</a></td>
                </tr>
            </tr>
          </table>
      </div>
      <div class="footer">
        <p>指導教授 : 葉慶隆 / 副教授 &ensp; 團隊: I4B / 黃仰辰、林峰正、張耀文</p>
        <table>
        <td><a href="https://github.com/ZhangYaowen-0107/Ours_Independent-study"><img src="../static/images/github.png" class="github-logo"></a></td>
        <td><p>&ensp;: 程式碼</p></td>
        </table>
      </div>
  </body>
</html>